# Logs
node_modules
.pnpm-debug.log
.pnpm-store/
.next
out
build

# Coverage
coverage/
.coverage
*.lcov
coverage.xml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.venv-*/
.env

# OS
.DS_Store
dist/