@import "tailwindcss";

@custom-variant dark (&:where(html.dark, html.dark *));

:root {
  --background: #f4f4f5;
  --foreground: #171717;
}

html.dark {
  --background: #09090b;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
